appnope==0.1.0
arrow==0.7.0
contextlib2==0.5.1
decorator==4.0.6
Django==1.10
django-braces==1.8.1
django-ckeditor==5.0.3
django-cors-headers==1.1.0
django-filter==0.12.0
django-mail-templated==2.6.2
django-model-utils==2.5.2
django-rest-auth==0.6.0
django-taggit==0.18.0
django-vanilla-views==1.0.4
django-wysiwyg==0.7.1
djangorestframework==3.4.4
djangorestframework-jwt==1.8.0
gnureadline==6.3.3
gunicorn==19.4.5
html5lib==0.9999999
ipdb==0.8.1
ipython==4.0.3
ipython-genutils==0.1.0
Markdown==2.6.5
micawber==0.3.3
oauthlib==1.0.3
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
psycopg2==2.6.1
ptyprocess==0.5
py==1.4.31
PyJWT==1.4.2
pytest==2.9.2
pytest-django==2.9.1
python-dateutil==2.4.2
python-oembed==0.2.4
raven==5.10.2
requests==2.9.1
requests-oauthlib==0.6.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.1.0
xlwt==1.0.0
